/* crumbs
------------------------------------------------------------------------------------*/
.crumbs {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font: 700 12px var(--font-1);
}

.crumbs a {
  color: var(--color-link);
  display: inline-flex;
  align-items: flex-end;
}

.crumbs,
.crumbs a:hover {
  color: var(--color-hover);
}

.crumbs a:after,
#pun-searchposts h3 span a:after {
  content: "";
  display: inline-block;

  width: 14px;
  height: 14px;

  margin: -5px 0 -2px 9px;

  background-image: var(--content-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  opacity: 0.4;
}
