/* category
------------------------------------------------------------------------------------*/
#pun-index .category .container,
.statscon {
  position: relative;
}

#pun-category1 {
    margin-top: -60px;
}

.category h2,
#pun-stats h2 {
  margin: 60px calc(0px - var(--main-p) - 1px) 40px calc(0px - var(--main-p) - 1px);
  position: relative;
  background: url() var(--color-sub);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  box-shadow: inset 0px 4px 5px rgba(0,0,0,0.25);
}

/* text category*/


.category h2 > .category-title {
  color: var(--text-k);
  text-transform: uppercase;
  font: var(--font-k);
  padding: 0 45px;
  text-align: left;
  margin-top: 0px;
  position: relative;
  width: 100%;
  letter-spacing: 2px;
}

#pun-stats h2 > .statistics-title {
  color: var(--text-k);
  text-transform: uppercase;
  font: var(--font-k);
  padding: 0 45px;
  text-align: left;
  margin-top: 0;
  position: relative;
  width: 100%;
  letter-spacing: 2px;
}

.category:nth-child(2n + 1) h2 > .category-title {
  text-align: right;
  padding: 0 85px;
}
