/* profile in post
------------------------------------------------------------------------------------*/
/* Блок аватара */
.post-author {
  width: var(--prof-w);
  background: var(--ava-bg) top no-repeat var(--color-avatop);
  border-top: 0px solid var(--color-txt1);
  min-height: 85px;
  box-shadow: -5px 5px 10px var(--shedow1);
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px 30% 10% 10%;
}

.post-author:before {
  content: "";
  background: url();
  position: absolute;
  top: -6px;
  left: calc(50% - 80px);
  width: 160px;
  height: 6px;
}

/* Белая часть - список */
.post-author ul {
  text-align: center;
  width: var(--prof-w);
  box-sizing: border-box;
  border: 1px solid var(--color-txt2);
  background: var(--color-forum);
  border-radius: 0% 50% 10% 10%;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0;
  margin: 125px 0 0;
  padding: 10px;
  list-style: none;
  display: flex;
}

#pun-searchposts .post-author ul {
  background: transparent;
  border: none;
}

.post-author li {
  width: inherit;
  position: relative;
}

/* author & title */
/* Ник */
.pa-author {
  font: 600 18px/15px var(--font-1);
  letter-spacing: 0.05em;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: flex;
  top: 10px;
  position: absolute !important;
}

.pa-author strong {
  font-weight: 600;
}

.pa-author,
.pa-author a {
  color: var(--color-txt4) !important;
  z-index: 100;
}

.pa-author a:hover {
  color: var(--color-hover);
}

#tuser {
  position: absolute;
  right: 10px;
  top: 5px;
}

/* Статус */
.pa-title {
  height: 30px;
  color: var(--color-txt3);
  font: 600 8px var(--font) banner;
  letter-spacing: 0.15em;
  box-sizing: border-box;
  z-index: 100;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px;
  display: flex;
  top: 55px;
  position: absolute !important;
}

/* avatar */
.pa-avatar {
  margin: -60px 0 0 0;
}

.pa-avatar img,
#pa-avatar img {
  z-index: 100;
  max-width: 180px;
  max-height: 180px;
  box-shadow: -5px 5px 10px var(--shedow1);
  border: none;
  position: relative;
  border: 1px solid var(--color-link);
  padding: 3px;
  border-radius: 10px;
}

/* posts/respect */
.pa-respect,
.pa-posts {
  width: calc(calc(var(--prof-w) - 22px) / 3) !important;
  z-index: 3;
  -webkit-text-size-adjust: none;
  margin-top: 20px;
  font: 400 12px var(--font-1);
}

.pa-fld3 {
  z-index: 3;
  -webkit-text-size-adjust: none;
  margin-top: 20px;
  font: 400 12px var(--font-1);
}

.pa-respect,
.pa-respect a,
.pa-posts {
  color: var(--color-txt2);
}

.pa-respect .fld-name,
.pa-posts .fld-name,
.pa-fld2 .fld-name {
  display: flex;
  position: relative;
  margin-bottom: 7px;
  font: 600 10px var(--font-1);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  justify-content: right;
}

.pa-respect .fld-name,
.pa-respect .fld-name a,
.pa-posts .fld-name,
.pa-fld2 .fld-name {
  color: var(--color-txt2);
}

.pa-posts,
.pa-respect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-align: center;
}

.pa-posts .fld-name,
.pa-respect .fld-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0;
  font-size: 0;
  line-height: 1;
}

.pa-posts .fld-name::before,
.pa-respect .fld-name a::before {
  display: block;
  color: var(--color-link);
  font: 400 24px/1 var(--mat);
}

.pa-respect .fld-name {
  font-size: 0;
}

.pa-respect .fld-name a::before {
  content: "\e8dc";
  color: var(--color-link);
  font: 400 24px/1 var(--mat);
}

.pa-posts .fld-name {
  font-size: 0;
}

.pa-posts .fld-name::before {
  content: "\ue0b7";
  color: var(--color-link);
  font: 400 16px/1 var(--mat);
}

.pa-respect img {
  display: none;
  filter: grayscale(1);
  vertical-align: middle;
  margin-top: -1px;
}

/* fld */

.pa-fld4,
.pa-fld2,
.pa-fld3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 10px 0 10px;
  gap: 10px;
  font: 12px var(--font) 400;
}

.pa-fld2 {
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-sub);
  padding-bottom: 5px;
}

.pa-fld4 {
  text-transform: uppercase;
  font-family: var(--font-1);
  font-size: 16px;
  letter-spacing: 3px;
  border: solid 1px var(--color-sub);
}

.pa-fld1 .fld-name,
.pa-fld2 .fld-name,
.pa-fld3 .fld-name,
.pa-fld4 .fld-name {
  display: none;
}

lz2 {
  font: 500 9px/15px var(--font) banner;
  color: #6c6c6c;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  text-align: justify;
}

lz2 a {
  font-weight: 700;
}

plash {
  background: url();
  display: flex;
  flex-direction: column;
  color: var(--color-light);
  width: 218px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

plash b,
plash i {
  font: 500 9px var(--font) banner;
  letter-spacing: 0.15em;
}

.pa-fld5 {
  margin-top: 20px;
}

.pa-fld1 {
  position: absolute !important;
  top: -10px;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.pa-fld1:before {
  content: "";
  position: absolute;
  background: var(--ava-bg);
  width: 150px;
  height: 50px;
  border-radius: 50% 50% 0 0;
  z-index: -100;
}

.band {
  max-width: 50%;
  display: flex;
  position: relative;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-position: center !important;
  background-repeat: no-repeat !important;
  mix-blend-mode: darken;
}

.akatsuki .band {
  mix-blend-mode: hard-light;
}

/* online */
.pa-online {
  background: var(--online) no-repeat center bottom;
  height: 15px;
  box-shadow: -1px 1px 5px var(--color-onlinesadow);
  z-index: 400;
  border-radius: 50%;
  font-size: 0;
  transition: all 0.5s;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: 15px !important;
  position: absolute !important;
}
