/* Значения, которые исторически наследовались темами от Shinobi. */
html:is(.shinobi, .oto, .akatsuki, .green, .kakashi) {
  --icon: url('https://forumstatic.ru/files/001c/6f/41/92920.png');
  --color-txt1: #282627;
}
