/* Отдельная шапка для мобильной версии форума. */
@media screen and (max-width: 700px) {
  /* Скрываем системную шапку, название форума и старое содержимое объявления. */
  #html-header,
  #pun-title,
  #pun-announcement div.container {
    margin: 0 auto !important;
    overflow-x: auto !important;
    display: none;
  }

  /* Показываем мобильную картинку темы на всю ширину экрана. */
  #pun-announcement {
    display: block !important;
    order: -1;
    position: relative !important;
    inset: auto !important;
    width: calc(100% + var(--main-p) * 2) !important;
    height: auto !important;
    aspect-ratio: 3 / 2;
    margin: calc(0px - var(--main-p)) 0 0 calc(0px - var(--main-p)) !important;
    background-image: var(--title-img-mobile);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Свитчер переносится из скрытого старого контейнера прямо в мобильную шапку. */
  #pun-announcement > #theme_switcher {
    position: absolute;
    right: 50px;
    bottom: 200px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 70px;
    margin: 0;
    padding: 5px 7px;
    background: #00000073;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  #pun-announcement > #theme_switcher li {
    padding: 5px;
  }

  #pun-announcement > #theme_switcher li input::before {
    margin-right: 0;
  }
}
